body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.App {
  display: flex;
  height: 100vh;
}

.navbar {
  background-image: url('./assets/bgpic1.jpeg'); /* Replace with the path to your image */
  background-size: cover; /* Adjusts the image to cover the entire area */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Ensures the image does not repeat */
  color: #fffdfd;
  padding: 1rem;
  width: 12.5rem; /* 200px equivalent */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.navbar-logo img {
  width: 2.5rem; /* 40px equivalent */
  height: 2.5rem;
  margin-right: 0.5rem;
}

.navbar-links {
  display: flex;
  flex-direction: column;
}

.navbar-links a {
  color: white;
  margin: 1rem 0;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #5cdb95;
}

.main-content {
  margin-left: 12.5rem; /* 200px equivalent */
  width: calc(100% - 12.5rem);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.top-bar {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* 2px 4px equivalent */
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 2.5rem; /* 40px equivalent */
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.profile-name {
  font-weight: bold;
}

.content {
  padding: 2rem;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

* {
  box-sizing: border-box;
}
